<div class="loading-animation">
  <section class="home">
    <div class="section">
      <span class="title">&#128221; 최근 게시물</span>
      <div class="content">
        <table class="catalogue" style="border-style:none;">
          <tr>
            {% assign sorted = site.pages | sort: 'date' | reverse | where: 'type', 'research' %}
            {% for page in sorted limit: 2%}
            {% if page.use_math %}
            {% include mathjax_support.html %}
            {% endif %}
            {% include post-card.html %}
            {% endfor %}
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>