<div class="main">
    <div class="main-banner">
        <div class="content">
            <div class="overlay" style="background: url('/meta/page_bg_01.png')"></div>
            <div class="text-wrapper">
                <div class="main-title">
                    <span class="no-wrap">
                        SungwookLE
                    </span>
                </div>
                <div class="description">
                    <p class="no-wrap">
                      &#129336;
                    </p>
                  </div>
            </div>
        </div>
    </div>
</div>