<div class="main">
    <div class="main-banner">
        <div class="content">
            <div class="overlay" style="background: url('/meta/page_bg_01.png')"></div>
            <div class="text-wrapper">
                <div class="sub-title">
                    <span class="no-wrap">
                        SungwookLE
                    </span>
                </div>
                <br/>
                <div class="description">
                    <span class="no-wrap">
                        to infinity...
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
